In [27]:
import pandas as pd

In [28]:
data = pd.read_csv("missing_value_ratio.csv")

In [29]:
data.shape

(12980, 10)

In [30]:
data.head()

      ID  season  holiday  workingday  ...   atemp  humidity  windspeed  count
0  AB101     1.0      0.0         0.0  ...  14.395      81.0        NaN     16
1  AB102     1.0      NaN         0.0  ...  13.635      80.0        NaN     40
2  AB103     1.0      0.0         NaN  ...  13.635      80.0        NaN     32
3  AB104     NaN      0.0         NaN  ...  14.395      75.0        NaN     13
4  AB105     1.0      NaN         0.0  ...  14.395       NaN    16.9979      1

[5 rows x 10 columns]

In [32]:
data.columns

Index(['ID', 'season', 'holiday', 'workingday', 'weather', 'temp', 'atemp',
       'humidity', 'windspeed', 'count'],
      dtype='object')

In [33]:
data.isnull().sum()

ID               0
season           9
holiday       6295
workingday       9
weather          4
temp             0
atemp            0
humidity         5
windspeed     5324
count            0
dtype: int64

In [34]:
#convert missing value into percentage
a = data.isnull().sum()/len(data)*100
a

ID             0.000000
season         0.069337
holiday       48.497689
workingday     0.069337
weather        0.030817
temp           0.000000
atemp          0.000000
humidity       0.038521
windspeed     41.016949
count          0.000000
dtype: float64

In [35]:
data.columns.shape[0]

10

In [36]:
# variable to store having missing value less than a threshold

variables = data.columns

variable = [ ]
for i in range(data.columns.shape[0]):
  if a[i] <= 40:  # setting the threshold as 40 %
    variable.append(variables[i])

In [37]:
#new variable

variable

['ID', 'season', 'workingday', 'weather', 'temp', 'atemp', 'humidity', 'count']

In [22]:
new_data = data[variable]
new_data.head()

      ID  season  workingday  weather  temp   atemp  humidity  count
0  AB101     1.0         0.0      1.0  9.84  14.395      81.0     16
1  AB102     1.0         0.0      NaN  9.02  13.635      80.0     40
2  AB103     1.0         NaN      1.0  9.02  13.635      80.0     32
3  AB104     NaN         NaN      1.0  9.84  14.395      75.0     13
4  AB105     1.0         0.0      NaN  9.84  14.395       NaN      1

In [24]:
# new data missing value percentage
new_data.isnull().sum()/len(new_data)*100

ID            0.000000
season        0.069337
workingday    0.069337
weather       0.030817
temp          0.000000
atemp         0.000000
humidity      0.038521
count         0.000000
dtype: float64

In [26]:
print("old data shape", data.shape)
print("new data shape", new_data.shape)

old data shape (12980, 10)
new data shape (12980, 8)